<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4 class="md-title">{{ ctrl.user.isNew ? 'NEW_USER_ACCOUNT' : 'USER_ACCOUNT' | translate }}</h4>
            <span flex="" class="flex"></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon aria-label="Close dialog" class="ng-scope ng-isolate-scope" aria-hidden="true">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content-body" layout="column" layout-fill>
xxxx
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="ctrl.cancel()">
            {{ 'CANCEL' | translate }}
        </md-button>
        <md-button>
            {{ 'SAVE' | translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
