<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <base href="/">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel='stylesheet' href='//fonts.googleapis.com/earlyaccess/notosanshebrew.css'>
    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak>
<div layout="row" layout-align="end center" layout-padding>
    <cl-log-switch></cl-log-switch>
    <lang-switch></lang-switch>
</div>

<ng-view></ng-view>
<br>
<md-whiteframe class="md-whiteframe-1dp" dir="ltr">
<md-button ng-click="getTemp()">getTemp()</md-button> tempData: {{tempData}}, rejection: {{rejection | json}}
</md-whiteframe>

<% if (typeof passwordless !== 'undefined') { %>
<script>window.passwordless = <%- passwordless %>;</script>
<% } %>

<% if (typeof env !== 'undefined' && env === 'production') { %>
<script src="main.bundle.js"></script>
<% }  else { %>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('index');
</script>
<% } %>
</body>

</body>
</html>
