<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <base href="/">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons'>
    <link rel='stylesheet' href='//fonts.googleapis.com/earlyaccess/notosanshebrew.css'>

    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak>
<div layout="row" layout-align="start center" layout-padding>
    <a md-button href="/">
        <md-icon>home</md-icon>
        {{ 'HOME' | translate }}
    </a>
    <div flex></div>
    <lang-switch></lang-switch>
    <user-menu></user-menu>
</div>

<ng-view></ng-view>

<% if (typeof __flash !== 'undefined') { %>
<script>window.__flash = <%- __flash %>;</script>
<% } %>

<% if (typeof env !== 'undefined' && env === 'production') { %>
<script src="main.bundle.js"></script>
<% }  else { %>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('index');
</script>
<% } %>
</body>

</body>
</html>
